/* * {
    border: 1px solid red;
} */

:root {
    --floral-white: #fffcf2ff;
    --pale-silver: rgb(219, 214, 193);
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
}

footer {
    background-color: var(--black-olive);
}

h2 {
    color: var(--flame);
    text-align: center;
}

h3 {
    text-align: center;
}

blockquote {
    color: var(--floral-white);
}

figcaption {
    color: var(--flame);
}

input {
    width: 100%;
    border-radius: 5px;
}

i {
    margin-right: 20px;
    color: var(--flame);
}

.navbar {
    background-color: var(--black-olive);
}

.navbar a {
    color: var(--flame);
    background-color: var(--eerie-black);
}

.navbar-brand {
    color: var(--pale-silver);
    font-size: 35px;
}

.nav-pic {
    width: 150px;
}

.nav-link {
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.landing-background {
    width: 100%;
    z-index: -1;
}

.landing-centered {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: var(--flame);
    font-size: 65px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.swola p {
    color: var(--floral-white);
}

.container-big {
    margin-left: 5px;
}

.signup {
    top: 10em;
    right: 0;
    width: 16%;
    float: right;
    background-color: var(--black-olive);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    color: var(--floral-white);
}

.orange {
    color: var(--flame);
}

.social {
    text-align: center;
    margin-top: 50px;
}

/* About classes */

.philosophy {
    margin-top: 20em;
    color: var(--flame);
}

.philosophy-img {
    width: 80%;
}

.services img {
    width: 80%;
}

/* Sign in classes */

.account {
    margin-top: 20em;
    margin-bottom: 15em;
}

.container-account {
    background-color: var(--pale-silver);
    border-radius: 8px;
}

.container-account h2 {
    color: var(--eerie-black);
}

.account label {
    background-color: var(--floral-white);
    margin-top: 10px;
}

.account button {
    background-color: var(--black-olive);
    color: var(--flame);
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    margin-bottom: 10px;
}
