* {
    border: 1px solid red;
}

:root {
    --floral-white: #fffcf2ff;
    --pale-silver: rgb(219, 214, 193);
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
}

.navbar {
    background-color: var(--black-olive);
}

.navbar a {
    color: var(--flame);
    background-color: var(--eerie-black);
}

.navbar-brand {
    color: var(--floral-white);
    font-size: 35px;
}

.nav-pic {
    width: 200px;
}

.nav-link {
    padding: 15px;
    border-radius: 5px;
}

.landing-background {
    width: 100%;
    z-index: -1;
}

.landing-centered {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: var(--flame);
    font-size: 65px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.swola h2 {
    color: var(--flame);
    text-align: center;
}

.swola p {
    color: var(--floral-white);
}

blockquote {
    color: var(--floral-white);
}

figcaption {
    color: var(--flame);
}

.container-swola {
    margin-left: 0;
}

.signup {
    top: 10em;
    right: 0;
    width: 16%;
    float: right;
    background-color: var(--black-olive);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    color: var(--floral-white);
}

input {
    width: 100%;
}

.orange {
    color: var(--flame);
}
